@import url('https://fonts.googleapis.com/css?family=Lato|Inconsolata:700');

$body-font-stack: 'Lato', Arial, sans-serif !default;
$headline-font-stack: 'Inconsolata', monospace !default;
$font-size: 16px;
$body-font-color: #6A6A6A;
$primary-color: #EF7766;
// $primary-color: #404040;
$divider-color: #D1D1D1;
$hover-color: #45BFFF;
$normal: 400;
$bold: 700;
$background-color: #F9F9F9;
$max-width: 800px;

body {
  font-family: $body-font-stack;
  font-size: $font-size;
  color: $body-font-color;
  background: $background-color;
}

main {
  .wrapper {
    margin: 0 auto;
    padding: 0 1em;
    max-width: $max-width;
  }

  .home-wrapper {
    text-align: center;
    
    h1 {
      font-size: 6em;
      margin-bottom: 0;
      padding-bottom: 0;
      margin-left: .25em;
    }
  }
}