@import url('https://fonts.googleapis.com/css?family=Lato|Inconsolata:700');

$font-stack: 'Lato', Arial, sans-serif !default;
$font-size: 16px;
$font-color: #181818;
$background-color: #f2f5f7;

body {
  font-family: $font-stack;
  font-size: $font-size;
  color: $font-color;
  background: $background-color;
}

.page-content {
  text-align: center;
}

h1 {
  font-family: 'Inconsolata', monospace;
  font-size: 6em;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-left: .2em;
}