@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Condensed:700');

$body-font-stack: 'Lato', Arial, sans-serif !default;
$headline-font-stack: 'Roboto+Condensed', sans-serif !default;
$font-size: 16px;
$body-font-color: #6A6A6A;
$secondary-font-color: #919191;
$primary-color: #EF7766;
$divider-color: #D1D1D1;
$hover-color: #61ABA9;
$normal: 400;
$bold: 700;
$background-color: #FCFCFC;
$max-width: 800px;
$breakpoint-tablet: 690px;
$breakpoint-mobile: 566px;

body {
  font-family: $body-font-stack;
  font-size: $font-size;
  color: $body-font-color;
  background: $background-color;
}

.page-content {
  @media screen and (max-width: $breakpoint-tablet) {
    max-width: $breakpoint-tablet;
    width: 100%;
  }
}

main {
  .wrapper {
    margin: 2em auto;
    padding: 0 1em;
    width: 100%;
    max-width: $max-width;
    box-sizing: border-box;
  }

  img {
    width: 100%;
  }

  .home-wrapper {
    text-align: center;

    img {
      max-width: 256px;
      vertical-align: middle;
      margin-left: 2em;
    }
    
    h1 {
      display: inline-block;
      font-size: 6.5em;
      padding: 0;
      margin: 0;
      margin-left: .5em;
      vertical-align: middle;
    }

    @media screen and (max-width: $breakpoint-mobile) {
      h1, img {
        margin:.2em 0;
      }
    }
  }
}

svg {
  display: inline-block;
  vertical-align: middle;
  height: 1.5em;
}

li {
  margin: .7em 0;
  padding-left: .5em;
  line-height: 1.5em;
}
ol {
  margin-bottom: 2.5em;
}