.highlight {
  background: #f0f0f0;
  overflow: auto;
  margin: 1.4em 0 2em;
  border: 1px solid $divider-color;
  border-radius: 3px;
  code {
    margin: 0;
    padding: 0;
    font-size: 0.85em;
    border: none;
  }
}

pre.highlight {
  border: none;
  margin: .3em 1.3em;
}
code {
  @extend .highlight;
  font-size: 0.95em;
  padding: .1em .3em;
  margin: 0;
}