footer {
  text-align: center;
  .wrapper {
    border-top: 1px solid $divider-color;
    margin: 4em auto;
    padding-top: 1em;
    width: 80%;
    max-width: $max-width;
  }

  ul,
  ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  
  ul li {
    margin: 0 .75em;
    margin-bottom: 1em;

    svg {
      display: inline-flex;
      vertical-align: middle;
      position: relative;
      height: 1.5em;
    }

    .label {
      margin-left: .4em;
    }

    a {
      color: $secondary-font-color;
    }
    
    a:hover {
      color: $hover-color;
      .icon #Symbols g {
        fill: $hover-color;
      }
    }
  }
}