header {
  width: 100%;
  nav {
    display: inline;
    text-align: right;
  }
  .navigation {
    margin-right: 2em;

    li {
      display: inline;
      margin-left: 1.5em;
      font-weight: $bold;
      text-decoration: none;

      .current {
        color: $primary-color;
      }
      
      a {
        color: $body-font-color;
      }

      a:hover {
        color: $hover-color;
      }
    }
  }
}

