.post {
  margin-bottom: 2em;
  
  h1 {
    margin: 0.5em 0;
  }

  .post-data {
    color: $secondary-font-color;
    font-size: .9em;

    .tag-list {
      margin: 3em;
      .tag {
        margin: .25em;
      }
      svg {
        display: inline-flex;
        vertical-align: middle;
        position: relative;
        height: 1.4em;
      }
    }
  }
}