.post {
  margin-bottom: 1.5em;
  h1 {
    text-align: center;
    margin: 0.5em 0;
  }
}

.post-meta {
  color: $secondary-font-color;
  font-size: .9em;
  text-align: center;

  .tag-list {
    margin-left: 3em;
    .tag {
      margin: .25em;
    }
    svg {
      height: 1.4em;
    }
  }
}

.post-list {
  margin: 1em 0;
  
  h3 {
    margin: 0 0 .5em;
  }
  
  .post-list-item {
    width: calc((100% - 6.5em) / 2);
    min-width: 300px;
    padding: 1em;
    display: inline-block;
    margin: .5em;
    background: #FFF;
    border: 1px solid #ebebeb;
    border-radius:3px;
  }

  a:hover h3 {
    color: $hover-color;
  }
}

.btn-back {
  .icon svg {
    vertical-align: sub;
    height: 1em;
  }
  .label {
    margin-left: .3em;
    vertical-align: middle;
  }
}

#disqus_thread {
  margin-top: 2.5em;
}