.post-data {
  color: $secondary-font-color;
  font-size: .9em;

  .tag-list {
    margin: 3em;
    .tag {
      margin: .2em;
    }
    svg {
      display: inline-flex;
      vertical-align: middle;
      position: relative;
      height: 1.5em;
    }
  }
}