h1, h2, h3, h4, h5, h6 {
  font-family: $headline-font-stack;
  padding:0;
  line-height: 1;
  margin: 1.8em 0 0;
}

h1 {
  color: $primary-color;
  font-size: 2.5rem;
}

a {
  text-decoration: none;
  color: $primary-color;
}

a:hover {
  color: $hover-color;
  
  .label {
    color: $hover-color;
  }
  .icon #Symbols g {
    fill: $hover-color;
  }
}

p {
  line-height: 1.5em;

  a {
    font-weight: $bold;
  }
}